In [ ]:
# single line comment in python is just a hashtag before it

In [ ]:
"""

this is
your
multi line
commenting

anything between this 3 quotations is a comment

"""

In [ ]:
import pandas as pd

# to maske this as a markdown, on dropdown, just select markdown

In [ ]:
"""

to run your code in notebook

crtl + enter, it runs the code and keeps the cursos where it was

shift + enter, it runs the code and goes to the next code cell

"""

# how to print

In [2]:
y = 7 
z = 8

In [1]:
planet = "earth" # planet is a varibale that is holding a string value
diameter = 12724 # diameter is a varibale that is holding an integer value

In [3]:
diameter

In [4]:
print(diameter)

12724

In [6]:
type(planet)

str

In [7]:
type(diameter)

int

In [8]:
planet

'earth'

In [9]:
print(planet)

earth

In [10]:
# first way of printing

print("the diameter of {variable1} is {variable2}".format(variable1 = planet, variable2 = diameter))

the diameter of earth is 12724

In [13]:
# second way of printing

print("the diameter of " + planet + " is " + str(diameter))

the diameter of earth is 12724

In [15]:
# third way of printing
# f-string

print(f"the diameter of {planet} is {diameter}")

the diameter of earth is 12724

# data types

In [17]:
"""

numerical: int, float
boolean: bool            True False
set: set                 set ()    {}    {set cannot ahve duplicates}  {set only contains the values, not the keys}

string/text: str         str()     ''    ""
tuple: tuple             tuple()   ()
list: list               list()    []
dictionary: dict         dict()    {"key":"value"}



some notes:
sets cannot have duplications
tuple cannot be mutated.
list can contain mix data types and can be mutated.
dictionary is also called key-value pair, or in javascript, it is called object.
json is another key-value pair example


"""

'\n\nnumerical: int, float\nboolean: bool            True False\nset: set                 set ()    {}    {set cannot ahve duplicates}  {set only contains the values, not the keys}\n\nstring/text: str         str()     \'\'    ""\ntuple: tuple             tuple()   ()\nlist: list               list()    []\ndictionary: dict         dict()    {"key":"value"}\n\n\n\nsome notes:\nsets cannot have duplications\ntuple cannot be mutated.\nlist can contain mix data types and can be mutated.\ndictionary is also called key-value pair, or in javascript, it is called object.\njson is another key-value pair example\n\n\n'

# Numerical

In [18]:
a = 5

In [19]:
type(a)

int

In [20]:
b = 5.8

In [21]:
type(b)

float

In [22]:
int(b) # convert float b to integer

5

In [23]:
float(a) # convert integer a into float

5.0

# Boolean

In [24]:
c = False

In [25]:
d = True

In [27]:
type(c)

bool

# sets

In [28]:
my_set = {1,2,3,4,4,5,1,2,"a","b","c","a",7,a,b,c,d}

In [29]:
type(my_set)

set

In [30]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'a', 'b', 'c'}

In [32]:
# question: what is the value of d
# value of d is True

In [33]:
id(hash(d))

140734641088952

In [34]:
id(hash(1))

140734641088952

In [35]:
my_set.add("Frank")

In [36]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, False, 'Frank', 'a', 'b', 'c'}

In [37]:
my_set.pop()

False

In [38]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'Frank', 'a', 'b', 'c'}

In [39]:
my_set.remove("Frank")

In [40]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c'}

In [41]:
my_set2 = {1,2,"k","l","o"}

In [43]:
new_set = my_set.intersection(my_set2)

In [44]:
new_set

{1, 2}

In [45]:
my_set

{1, 2, 3, 4, 5, 5.8, 7, 'a', 'b', 'c'}

# tuple

In [48]:
my_tuple = (1,2,3,4,4,5,1,2,"a","b","c","a",7,a,b,c,d)

In [49]:
my_tuple

(1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True)

In [50]:
my_tuple[10]

'c'

In [51]:
my_tuple.count(1)
# how many times the value of 1 appears in my tuple

3

In [53]:
my_tuple.index("a")
# index location "a" appearing the first time in my tuple is 8

8

In [54]:
my_tuple2 = my_tuple + ("frank", "charlie", 999)

In [56]:
print(my_tuple2)

(1, 2, 3, 4, 4, 5, 1, 2, 'a', 'b', 'c', 'a', 7, 5, 5.8, False, True, 'frank', 'charlie', 999)

# String

In [57]:
my_str =  " python IS nice: % ^ @ 1 2 3  i like it "

In [58]:
type(my_str)

str

In [59]:
my_str[0]

' '

In [60]:
my_str.capitalize()

' python is nice: % ^ @ 1 2 3  i like it '

In [61]:
my_str.replace("e","k")

' python IS nick: % ^ @ 1 2 3  i likk it '

In [62]:
my_str.replace(" ","") # single space with no space

'pythonISnice:%^@123ilikeit'

In [63]:
my_str.replace("  ","") # double space with no space

' python IS nice: % ^ @ 1 2 3i like it '

In [64]:
my_str.upper()

' PYTHON IS NICE: % ^ @ 1 2 3  I LIKE IT '

In [65]:
my_str.lower()

' python is nice: % ^ @ 1 2 3  i like it '

In [66]:
my_str.split()

['python', 'IS', 'nice:', '%', '^', '@', '1', '2', '3', 'i', 'like', 'it']

In [67]:
my_str.split(":")

[' python IS nice', ' % ^ @ 1 2 3  i like it ']

In [68]:
my_str.split(":")[0]

' python IS nice'

In [70]:
my_str.find("n")
# tells me that character n in index location is 6

6

In [71]:
my_str.strip()

'python IS nice: % ^ @ 1 2 3  i like it'

In [72]:
my_str.rstrip()

' python IS nice: % ^ @ 1 2 3  i like it'

In [73]:
my_str.lstrip()

'python IS nice: % ^ @ 1 2 3  i like it '

In [74]:
my_str.swapcase()

' PYTHON is NICE: % ^ @ 1 2 3  I LIKE IT '

In [75]:
my_str.title()

' Python Is Nice: % ^ @ 1 2 3  I Like It '

### List

In [76]:
my_list = [1,2,3,4,5,"a","b","c","d","e"]

In [77]:
type(my_list)

list

In [79]:
my_list.pop()

# pop function in list is an inplace = True operation

'd'

In [80]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [81]:
my_list.index("a")

5

In [82]:
my_list.append("Frank")

In [83]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'Frank']

In [85]:
my_list.extend(["jack","charlie","julia"])

In [86]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'Frank', 'jack', 'charlie', 'julia']

In [87]:
my_list.remove("Frank")

In [88]:
my_list

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'jack', 'charlie', 'julia']

### Dictionary

In [92]:
my_dict = {

    "jan":"julia",
    "feb":"charlie",
    "mar":"drew",
    "apr":"jon"
}

In [93]:
my_dict

{'jan': 'julia', 'feb': 'charlie', 'mar': 'drew', 'apr': 'jon'}

In [94]:
my_dict.keys()

dict_keys(['jan', 'feb', 'mar', 'apr'])

In [95]:
my_dict.values()

dict_values(['julia', 'charlie', 'drew', 'jon'])

In [96]:
my_dict.items()

dict_items([('jan', 'julia'), ('feb', 'charlie'), ('mar', 'drew'), ('apr', 'jon')])

In [97]:
my_dict["apr"]

'jon'

### For loop

In [ ]:
"""
for x in iterable:
    somecode

x is your iteration point; it is a placeholder
iterable is the thing that you want to iterate through
somecode is whatever you want to do

for key, value is iterable
    somecode

key and value are iteration points from a dictionary


"""

In [99]:
range(5)

range(0, 5)

In [100]:
list(range(5))

[0, 1, 2, 3, 4]

In [101]:
for x in range(5):
    print(x)

0
1
2
3
4

In [103]:
city = "dallas"
for x in city:
    print(x)

d
a
l
l
a
s

### if else

In [104]:
"""

if some confition:
    some code
elif some condition:
    some more code
elif some condition:
    some more code
else some condition:
    some more code

"""

'\n\nif some confition:\n    some code\nelsif some condition:\n    some more code\n\n\n'

In [106]:
x = 1
y = 10

if x == 1:
    print("yeah x is 1")

yeah x is 1

In [108]:
if x == 7:
    print("yeah x is 1")
elif y == 10 :
    print("y is 10")

y is 10